@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Whole Doc */
body{
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
}

/* Container */
.container{
    margin: 100px auto;
    margin-top: 330px;
    width: 400px;
    text-align: center;
    position: relative;
}

/* Progress Bar */
.progress2{
    border-radius: 30px;
    background: #fff;
}

.progress-bar2{
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2{
    background: #cf4707;
    animation: progress 5s infinite;
}

/* Animation */
@keyframes progress{
    0%{
        width: 0%;
        background: #faa780;
        box-shadow: 0 0 8px #cf4707;
    }

    100%{
        width: 100%;
        background: #cf4707;
        box-shadow: 0 0 20px #cf4707;
    }
}

/* Icon */
.icon{
    color: #cf4707;
    background-color: transparent;
    padding-right: 400px;
    padding-bottom: 20px;
    animation: icon 5s infinite;
}

/* Animation */
@keyframes icon{
    0%{
        color: #faa780;
        text-shadow: 0 0 0 #cf4707;
    }

    100%{
        color: #cf4707;
        text-shadow: 0 0 10px #cf4707;
    }
}
